*.tfstate
*.tfstate.backup
*.tfvars
.terraform
images/notused
.idea

digitalrebar/edgelab.yaml
digitalrebar/digitalrebar.yaml

admin.conf

rpi-client-v1.*.*.img.xz
rpi-server-v1.*.*.img.xz

k3s
helm
rackn-catalog.json